
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #0066cc;
    text-align: center;
}

h2 {
    color: #333333;
}

ul {
    background: white;
    padding: 20px;
    border-radius: 10px;
}b;
    font-family: Arial, sans-serif
}

p {
    font-size: 18px;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background-color: #004c99;
}
.tarjeta {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
